<ul class="inline-list inline-list--top m-b-0 social-media">
    {% if social.instagram|default %}
      <li>
        <a href="{{ social.instagram }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">Instagram</span>
          <span class="icon-instagram"></span>
        </a>
      </li>
    {% endif %}
    {% if social.pinterest|default %}
      <li>
        <a href="{{ social.pinterest }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">pinterest</span>
          <span class="icon-pinterest"></span>
        </a>
      </li>
    {% endif %}

    {% if social.youtube|default %}
      <li>
        <a href="{{ social.youtube }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">youtube</span>
          <span class="icon-youtube"></span>
        </a>
      </li>
    {% endif %}
        {% if social.tiktok|default %}
      <li>
        <a href="{{ social.tiktok }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">tiktok</span>
          <span class="icon-tiktok"></span>
        </a>
      </li>
    {% endif %}
        {% if social.facebook|default %}
      <li>
        <a href="{{ social.facebook }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">Facebook</span>
          <span class="icon-facebook"></span>
        </a>
      </li>
    {% endif %}
    {% if social.twitter|default %}
      <li>
        <a href="{{ social.twitter }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">Twitter</span>
          <span class="icon-twitter"></span>
        </a>
      </li>
    {% endif %}
    {% if social.linkedin|default %}
      <li>
        <a href="{{ social.linkedin }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">LinkedIn</span>
          <span class="icon-linkedin"></span>
        </a>
      </li>
    {% endif %}
  </ul>
