<ul class="list-unstyled flex text-smaller lh-1 fw-bold {{ meta_class | default }}">
  {% if date | default %}
    <li class="label border-right-1 border-gray mr-105 pr-1 ">
      {% embed '@components/inline-text/label/label.twig' %}
        {% block content %}
            <time datetime="{{ date.unformatted }}">{{ date.full }}</time>
            {% if endDate | default %}
              &mdash;
              <time datetime="{{ endDate.unformatted }}">
                {{ endDate.full }}
              </time>

            {% endif %}
        {% endblock %}
      {% endembed %}
    </li>
  {% endif %}

  {% if categories | default | length %}
    <li>
      <ul class="list-unstyled flex g-4 lh-1">
        {% for category in categories %}<li><a href="{{ category.url }}">{{ category.title }}</a></li>{% endfor %}
      </ul>
    </li>
  {% endif %}
</ul>
