<div class="card card--horizontal {{ card.modifier | default }} {% if card.clickCard | default %}card--click{% endif %}" >
  <div class="card-section">
    <div class="grid-x grid-margin-x align-middle">
      {% if card.image | default %}
        <div class="cell medium-5 large-4 {% if card.image.alignment | default and card.image.alignment == 'right' %}medium-order-2{% endif %}">
          <div class="card-image">
            <img {% if card.lazyload_class | default %}data-lazy="{{ card.image.src }}" {% else %} data-src="{{ card.image.src }}" class="js-lazy"{% endif %} alt="{{ card.image.alt }}">
          </div>
        </div>
      {% endif %}
      <div class="cell {% if card.image | default %}medium-7 large-8{% endif %} {% if card.image.alignment  | default and card.image.alignment == 'right' %}medium-order-1{% endif %}">
        <blockquote class="unstyled-blockquote">
          <p class="lead">{{ card.quote }}</p>
          {% if card.attribution | default %}
            <cite>{{ card.attribution.name }}{% if card.attribution.info %}, {{ card.attribution.info }}{% endif %}</cite>
          {% endif %}
        </blockquote>
      </div>
    </div>
  </div>
</div>
