<div class="grid-x grid-margin-x align-middle">
  {% if testimonial_image | default %}
    <div class="cell medium-4">
      <img data-src="{{ testimonial_image.url }}" alt="{{ testimonial_image.alt }}" class="js-lazy">
    </div>
  {% endif %}
  <div class="cell {% if testimonial_image | default %}medium-8{% endif %}">
    <blockquote>
      <p>{{ quote }}</p>
      {% if attribution | default %}
        <cite>{{ attribution.name }}{% if attribution.info | default %}, {{ attribution.info }}{% endif %}</cite>
      {% endif %}
    </blockquote>
  </div>
</div>
