{% if url %}
  <a href="{{ url }}" class="button {{ modifier_class }}">{{ text }}</a>
{% elseif value %}
  <input type="{{ type }}" class="button {{ modifier_class }}" value="{{ value }}">
{% else %}
  <button type="{{ type }}" class="button {{ modifier_class }}">{{ text }}</button>
{% endif %}
