{% if intro_class | default is empty %}{% set intro_class = 'text-center' %}{% endif %}

{% set section_intro %}
  {% if section_heading | default %}
      <div class="section_intro {{ intro_class }}">
        <div class="row grid-margin-x align-middle align-center">
          {% if section_image | default %}
            <div class="col col-md-5 col-lg-6"  data-scroll-show data-scroll-from="left">
              <div class="image-size--landscapeCroppedMedium">
                <img data-src="{{ section_image.src }}" alt="{{ section_image.alt }}" class="js-lazy">
              </div>
            </div>
          {% endif %}
          <div class="col {% if section_image | default %}col-md-7 col-lg-6{% elseif style | default is empty %}col-md-8{% endif %}"  data-scroll-show  {% if section_image | default %}data-scroll-from="right"{% endif %}>
            <h2 class="section_heading">{{ section_heading }}</h2>
            {% if section_subheading | default %}
              <h3 class="section_subheading">{{ section_subheading }}</h3>
            {% endif %}
            {% if section_description | default %}
              <p class="lead">{{ section_description }}</p>
            {% endif %}
            {% if section_button | default %}
              {% include patternlab_namespace | default ~ 'components/links/button.twig' with {
                "button" : section_button
              } %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
{% endset %}
{% set section_content %}
  {% if block('section_content') | trim is not empty%}
    <div class="section_content" data-scroll-show>
      {% block section_content %}
      {% endblock %}
    </div>
  {% endif %}
{% endset %}
<section {% if id | default %}id="{{ id }}"{% endif %} class="section {{ section_class | default }} {% if style | default %}section--{{ style }} {% endif %} {% if collapse | default %}section--collapse{% endif %}" >
  {% if section_background | default %}<div class="js-lazy section_background" data-bg="{{ section_background.src }}"></div>{% endif %}
  {% if section_background_slick | default %}<img class="section_background" data-slick-background="{{ section_background_slick }}"/>{% endif %}
  <div class="{% if exclude_container | default is empty %}container{% endif %} {{ grid_class | default }}">
    {% if style | default and (style == 'side') %}
      <div class="row align-middle align-center">
        <div class="col col-md-8" data-scroll-show data-scroll-from="left">
          {{ section_intro }}
        </div>
        <div class="col col-lg-4"  data-scroll-show data-scroll-from="right">
          {{ section_content }}
        </div>
      </div>
    {% else %}
      {{ section_intro }}

      {% if (style | default and (style == 'narrow' or style == 'narrower')) and exclude_container | default is empty %}
        {% set content %}
          {{ section_content }}
        {% endset %}
        {% include patternlab_namespace | default ~  'layout/structure/content-' ~ style ~ '.twig' %}
      {% else %}
        {{ section_content }}
      {% endif %}


    {% endif %}

  </div>
</section>
