
{% set section_intro %}
  {% if section_heading is not empty %}
      <div class="section_intro {{ intro_class }}">
          <h2 class="section_heading">
          {{ section_heading }}</h2>
          {% if section_description is not empty %}
            <p class="lead">{{ section_description }}</p>
          {% endif %}
      </div>
    {% endif %}
{% endset %}
{% set section_content %}
  <div class="section_content">
    {% block section_content %}
    {% endblock %}
  </div>
{% endset %}
<section class="section {{ class }} {% if style %}section--{{ style }} {% endif %} {% if slash %}has-slash{% endif %}">
  {% if slash %}
    <div class="slash slash--top section_slash slash--small fill-primary">
      {% include 'global/images/slash.twig' %}
    </div>
  {% endif %}
  <div class="grid-container {{ grid_class }}">
    {% if style == 'side' %}
      <div class="grid-x align-middle">
        <div class="cell large-3">
          {{ section_intro }}
        </div>
        <div class="cell large-9">
          {{ section_content }}
        </div>
      </div>
    {% else %}
      {{ section_intro }}
      {{ section_content }}
    {% endif %}
  </div>
</section>
