<div class="hero text-white">
  <div class="container">
    <div class="row grid-margin-x">
      <div class="col col-lg-8 col-md-6 medium-order-1">
        {% include patternlab_namespace | default ~ 'components/navigation/breadcrumbs.twig' with breadcrumbs %}
      </div>

      <div class="col col-md-2 medium-order-3">
        <div class="hero_content">
          <div class="row grid-margin-x align-middle">
            {% if image | default %}
              <div class="col col-md-4">
                <img src="{{ image.src }}" alt="{{ image.alt }}">
              </div>
            {% endif %}
            <div class="col {% if image | default %}col-md-8{% endif %}">
              {% if date | default and endDate | default %}
                {% include patternlab_namespace | default ~ 'components/inline-text/meta.twig' with {
                  date: date,
                  endDate: endDate
                } only %}
              {% endif %}
              <h1>{{ heading }}</h1>
              {% if summary | default %}
                {% if summary | length %}
                  <ul class="inline-list inline-list--divided font-bold text-small mb-3">
                    {% for item in summary %}
                      <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <p>{{ summary }}</p>
                {% endif %}
              {% endif %}
              {% if subheading | default %}
                <p class="lead">{{ subheading }}</p>
              {% endif %}
              {% if hero_button | default %}
                {% set hero_button = hero_button | merge({
                  modifier: 'secondary'
                }) %}
                {% include patternlab_namespace | default ~ 'components/links/button.twig' with {
                  button: hero_button
                } %}
              {% endif %}
              {% if categories | default %}
                {% include patternlab_namespace | default ~ 'components/inline-text/meta.twig' with {
                  date: endDate | default is empty ? date : false,
                  categories: categories
                } only%}
              {% endif %}
            </div>
          </div>

        </div>
      </div>
      <div class="col col-lg-4 col-md-6 medium-order-2">
        {% include patternlab_namespace | default ~ 'components/utils/add2any.twig' with {
          class: 'mb-0'
        } %}
      </div>
    </div>
  </div>

</div>
