<li class="accordion-item {% if item.accordion_instance == "1" %}is-active{% endif %}" data-accordion-item>
  <h3><button class="accordion-trigger" {% if item.accordion_instance == "1" %}aria-expanded="true"{% endif %}>{{ item.heading }}</button></h3>
  <a aria-hidden tabindex="0" class="accordion-title" aria-controls="accordion-{{ item.accordion_instance }}" id="accordion-toggle-{{ item.accordion_instance }}">
    {{ item.heading }}
  </a>
  <div class="accordion-content" data-tab-content id="accordion-{{ item.accordion_instance }}" aria-hidden="true" aria-labelledby="accordion-{{ item.accordion_instance }}">
    {{ item.content }}
  </div>
</li>
