<label for="{{ field_id }}_{{ checkbox_id ? checkbox_id : checkbox_value }}"><input id="{{ field_id }}_{{ checkbox_id ? checkbox_id : checkbox_value }}" name="{{ field_name }}" value="{{ checkbox_value }}" type="checkbox" {% if required %}required {% endif %}> {{ checkbox_label }}</label>
