<footer class="l-footer color-white text-center">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">

      <div class="cell medium-5 medium-order-2 medium-text-left">
        <div class="media-object media-object--stack">
          <div class="media-object-section">
            {% include '@components/logo/logo.twig' with logo %}
          </div>
          <div class="media-object-section">
            <address>
             {{ address | default | nl2br }}
            </address>
          </div>
        </div>

      </div>
      <div class="small-12 cell medium-order-1">
        <ul class="menu medium-horizontal vertical">
        {% for item in menu %}
          <li>
            <a href="{{ item.url }}">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
      </div>
      <div class="cell medium-7 medium-text-right medium-order-3">
        {% include '@components/utils/social-media.twig' %}
      </div>
    </div>

    <ul class="list-unstyled d-flex gap-4 align-center list-divided mb-2">
      {% for link in footer_links | default %}
        <li>          
          {% include '@components/links/link.twig' with link %}
        </li>
      {% endfor %}
    </ul>
    <p>Copyright &copy; {{ copyright_year | default(2022) }} {{ site_name | default }}</p>

  </div>
  {% include '@components/utils/back-to-top.twig' %}
</footer>
