<ul class="inline-list inline-list--top m-b-0 social-media">
    {% if social_media.instagram|default %}
      <li>
        <a href="{{ social_media.instagram }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">Instagram</span>
          <span class="icon-instagram"></span>
        </a>
      </li>
    {% endif %}
    {% if social_media.pinterest|default %}
      <li>
        <a href="{{ social_media.pinterest }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">pinterest</span>
          <span class="icon-pinterest"></span>
        </a>
      </li>
    {% endif %}

    {% if social_media.youtube|default %}
      <li>
        <a href="{{ social_media.youtube }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">youtube</span>
          <span class="icon-youtube"></span>
        </a>
      </li>
    {% endif %}
        {% if social_media.tiktok|default %}
      <li>
        <a href="{{ social_media.tiktok }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">tiktok</span>
          <span class="icon-tiktok"></span>
        </a>
      </li>
    {% endif %}
        {% if social_media.facebook|default %}
      <li>
        <a href="{{ social_media.facebook }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">Facebook</span>
          <span class="icon-facebook"></span>
        </a>
      </li>
    {% endif %}
    {% if social_media.twitter|default %}
      <li>
        <a href="{{ social_media.twitter }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">Twitter</span>
          <span class="icon-twitter"></span>
        </a>
      </li>
    {% endif %}
    {% if social_media.linkedin|default %}
      <li>
        <a href="{{ social_media.linkedin }}" target="_blank" class="icon icon--medium icon--circle">
          <span class="show-for-sr">LinkedIn</span>
          <span class="icon-linkedin"></span>
        </a>
      </li>
    {% endif %}
  </ul>
