<ul class="list-unstyled d-flex gap-4 list-divided text-smaller fw-bold {{ meta_class | default }}">
  {% if date | default %}
    <li class="label">
      <time datetime="{{ date.unformatted }}">{{ date.full }}</time>
      {% if endDate | default %}
        &mdash;
        <time datetime="{{ endDate.unformatted }}">
          {{ endDate.full }}
        </time>

      {% endif %}
    </li>
  {% endif %}

  {% if categories | default | length %}
    <li>
      <ul class="list-unstyled d-flex gap-4">
        {% for category in categories %}<li><a href="{{ category.url }}">{{ category.title }}</a></li>{% endfor %}
      </ul>
    </li>
  {% endif %}
</ul>
