<div class="hero text-white">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-8 medium-6 medium-order-1">
        {% include '@components/navigation/breadcrumbs.twig' with breadcrumbs %}
      </div>

      <div class="cell medium-12 medium-order-3">
        <div class="hero_content">
          <div class="grid-x grid-margin-x align-middle">
            {% if image | default %}
              <div class="cell medium-4">
                <img src="{{ image.src }}" alt="{{ image.alt }}">
              </div>
            {% endif %}
            <div class="cell {% if image | default %}medium-8{% endif %}">
              {% if date | default %}
                {% include '@components/inline-text/meta.twig' with {
                  date: date,
                  endDate: endDate
                } only %}
              {% endif %}
              <h1>{{ heading }}</h1>
              {% if summary | default %}
                {% if summary | length %}
                  <ul class="inline-list inline-list--divided font-bold text-small m-b-3">
                    {% for item in summary %}
                      <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <p>{{ summary }}</p>
                {% endif %}
              {% endif %}
              {% if subheading | default %}
                <p class="lead">{{ subheading }}</p>
              {% endif %}
              {% if button | default %}
                {% set button = button | merge({
                  modifier: 'secondary'
                }) %}
                {% include '@components/links/button.twig' with button %}
              {% endif %}
              {% if categories | default %}
                {% include '@components/inline-text/meta.twig' with {
                  categories: categories
                } only%}
              {% endif %}
            </div>
          </div>

        </div>
      </div>
      <div class="cell large-4 medium-6 medium-order-2">
        {% include '@components/utils/add2any.twig' with {
          class: 'm-b-0'
        } %}
      </div>
    </div>
  </div>

</div>
