<a href="{{ homepage | default('/templates') }}" class="logo">
  <img {% if logo.height | default %}height="{{ logo.height }}"{% endif %} {% if logo.width | default %}width="{{ logo.width }}"{% endif %} class="logo_image" src="{{ logo.src }}" alt="{{ logo.alt }}"/>
</a>
