<span>
  <input class="custom" id="{{ field_id }}_{{ id is not empty  ? id : value }}" name="{{ field_name }}" value="{{ value }}" type="checkbox" {% if required %}required {% endif %}>
  <label for="{{ field_id }}_{{ id is not empty ? id : value }}"> {{ label }}</label>
</span>
