{% if intro_class | default is empty %}{% set intro_class = 'text-center' %}{% endif %}

{% set intro %}
  {% if heading | default %}
      <div class="intro {{ intro_class }}">
        <div class="grid-x grid-margin-x align-middle align-center">
          {% if image | default %}
            <div class="cell medium-5 large-6">
              <div class="image-size--landscapeCroppedMedium">
                <img data-src="{{ image.src }}" alt="{{ image.alt }}" class="js-lazy">
              </div>
            </div>
          {% endif %}
          <div class="cell {% if image | default %}medium-7 large-6{% elseif style | default is empty %}medium-8{% endif %}">
            <h2 class="section_heading">{{ heading }}</h2>
            {% if subheading | default %}
              <h3 class="section_subheading">{{ subheading }}</h3>
            {% endif %}
            {% if description | default %}
              <p class="lead">{{ description }}</p>
            {% endif %}
            {% if button | default %}
              {% include '@components/links/button.twig' with button only %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
{% endset %}
{% set content %}
  {% if block('section_content') | trim is not empty%}
    <div class="section_content">
      {% block section_content %}
      {% endblock %}
    </div>
  {% endif %}
{% endset %}
<section class="section {{ class | default }} {% if style | default %}section--{{ style }} {% endif %} {% if collapse | default %}section--collapse{% endif %}" >
  {% if background | default %}<div class="js-lazy section_background" data-bg="{{ background.src }}"></div>{% endif %}
  <div class="{% if exclude_container | default is empty %}grid-container{% endif %} {{ grid_class | default }}">
    {% if style | default and (style == 'side') %}
      <div class="grid-x align-middle align-center">
        <div class="cell medium-8">
          {{ intro }}
        </div>
        <div class="cell large-4">
          {{ content }}
        </div>
      </div>
    {% else %}
      {{ intro }}
      {% if (style | default and (style == 'narrow' or style == 'narrower')) and exclude_container | default is empty %}
        {% set content %}
          {{ content }}
        {% endset %}
        {% include '@layout/structure/content-narrow.twig' %}
      {% else %}
        {{ content }}
      {% endif %}
    {% endif %}
  </div>
</section>
