{% if intro_class | default is empty %}{% set intro_class = 'text-center' %}{% endif %}

{% set intro %}
  {% if section_heading | default %}
      <div class="section_intro {{ intro_class }}">
        <div class="grid-x grid-margin-x align-middle align-center">
          {% if section_image | default %}
            <div class="cell medium-5 large-6">
              <div class="image-size--landscapeCroppedMedium">
                <img data-src="{{ section_image.src }}" alt="{{ section_image.alt }}" class="js-lazy">
              </div>
            </div>
          {% endif %}
          <div class="cell {% if section_image | default %}medium-7 large-6{% elseif section_style | default is empty %}medium-8{% endif %}">
            <h2 class="section_heading">{{ section_heading }}</h2>
            {% if section_subheading | default %}
              <h3 class="section_subheading">{{ section_subheading }}</h3>
            {% endif %}
            {% if section_description | default %}
              <p class="lead">{{ section_description }}</p>
            {% endif %}
            {% if section_button | default %}
              {% include '@components/links/button.twig' with section_button | merge({
                color: 'secondary'
              }) only %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
{% endset %}
{% set content %}
  {% if block('section_content') | trim is not empty%}
    <div class="section_content">
      {% block section_content %}
      {% endblock %}
    </div>
  {% endif %}
{% endset %}
<section class="section {{ class | default }} {% if style | default %}section--{{ style }} {% endif %} {% if collapse | default %}section--collapse{% endif %}" >
  {% if section_background | default %}<div class="js-lazy section_background" data-bg="{{ section_background.src }}"></div>{% endif %}
  <div class="{% if exclude_container | default is empty %}grid-container{% endif %} {{ grid_class | default }}">
    {% if section_style | default and (section_style == 'side') %}
      <div class="grid-x align-middle align-center">
        <div class="cell medium-8">
          {{ intro }}
        </div>
        <div class="cell large-4">
          {{ content }}
        </div>
      </div>
    {% else %}
      {{ intro }}
      {% if (section_style | default and (section_style == 'narrow' or section_style == 'narrower')) and exclude_container | default is empty %}
        {% set content %}
          {{ content }}
        {% endset %}
        {% include '@layout/structure/content-narrow.twig' %}
      {% else %}
        {{ content }}
      {% endif %}
    {% endif %}
  </div>
</section>
