
{% set width_class = '' %}
{% if section_style == 'narrower'%}
  {% set width_class = 'lg:max-w-screen-lg' %}
{% elseif section_style == 'narrow' %}  
  {% set width_class = 'lg:max-w-screen-xl' %}
{% endif %}
{% if intro_class | default is empty %}{% set intro_class = 'text-center' %}{% endif %}

{% set intro %}
  {% if section_heading | default %}
      <div class="section_intro {{ intro_class }}">
        <div class="grid {% if section_image | default %}grid-cols-12{% endif %} gap-6 items-center justify-center">
          {% if section_image | default %}
            <div class=" md:col-span-5 lg:col-span-6"  data-scroll-show data-scroll-from="left">
              <div class="image-size--landscapeCroppedMedium">
                <img loading="lazy" src="{{ section_image.src }}" alt="{{ section_image.alt }}" class="w-full">
              </div>
            </div>
          {% endif %}
          <div class=" {% if section_image | default %}md:col-span-7 lg:col-span-6{% elseif section_style | default is empty %}md:col-span-8{% endif %}">
            <h2 class="section_heading">{{ section_heading }}</h2>
            {% if section_subheading | default %}
              <h3 class="section_subheading">{{ section_subheading }}</h3>
            {% endif %}
            {% if section_description | default %}
              <p class="lead">{{ section_description }}</p>
            {% endif %}
            {% if section_button | default %}
              {% include '@components/links/button/button.twig' with section_button | merge({
                color: 'secondary'
              }) only %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
{% endset %}
{% set content %}
  {% if block('section_content') | trim is not empty%}
    <div class="section_content" data-scroll-show>
      {% block section_content %}
      {% endblock %}
    </div>
  {% endif %}
{% endset %}
<section {% if section_id | default %}id="{{ section_id }}"{% endif %} class="section {{ padding | default == 'tight' ? (loop.first ? 'pt-4' : 'pt-2') ~ ' ' ~ (loop.last ? 'pb-5' : 'pb-3') ~ ' lg:pt-5 lg:pb-6' : 'pt-4 lg:pt-12 pb-5 lg:pb-13' }} {{ section_class | default }} {% if style | default %}section--{{ style }} {% endif %} {% if collapse | default %}section--collapse{% endif %}" >
  <div class="position-unset">
    {% if section_background | default %}<div class=" section_background" data-bg="{{ section_background.src }}"></div>{% endif %}
    {% if section_background_slick | default %}<img class="section_background" data-slick-background="{{ section_background_slick }}"/>{% endif %}
  </div>
  <div class="{% if exclude_container | default is empty %}container {{ width_class | default }} {% endif %} {{ grid_class | default }}">
    {% if section_style | default and (section_style == 'side') %}
      <div class="grid grid-cols-12 items-center justify-center">
        <div class=" md:col-span-8">
          {{ intro }}
        </div>
        <div class=" lg:col-span-4">
          {{ content }}
        </div>
      </div>
    {% else %}
      <div class="mb-10">
        {{ intro }}
      </div>
      {{ content }}


    {% endif %}

  </div>
</section>
