
<span class="anchormenu_label">{{ label_mobile | default }}:</span>
<div class="dropdown_wrapper">
  <button class="dropdown_toggle" data-anchormenu-activetext="{{ placeholder }}" type="button" data-toggle="{{ id }}">{{ placeholder }}</button>
  <div data-v-offset="-2" class="dropdown-pane" id="{{ id }}" data-dropdown data-auto-focus="true" {% if close_on_click | default %}data-close-on-click="true" {% endif %} {% if label_trigger | default %}data-dropdown-trigger{% endif %}>
    <ul class="menu vertical text-black">
      {% for item in items %}
        <li>
          <a  href="{{ item.value }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
