<div class="alert-bar bg-secondary py-4 {{ class | default }}" {% if closable | default %}data-closable{% endif %}>
  <div class="container flex gap-3 justify-center">
    {% if label | default %}
      <span class="alert-bar_label font-bold">{{ label }}:</span>
    {% endif %}
    {% if link | default %}
      <a href="{{ link }}">{{ text }}</a>
    {% else %}
      <span>{{ text }}</span>      
    {% endif %}
    {% if closable | default %}
      <button class="{% if closable_text | default is empty %}close-button{% else %}button{% endif %}" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">{% if closable_text | default %}{{ closable_text }}{% else %}&times;{% endif %}</span>
      </button>
    {% endif %}
  </div>
</div>
