{% set heading_level = heading.level | default ? heading.level : 3 %}
<div class="card {{ class | default }} {{ modifier | default ? 'card--' ~ modifier : '' }} {% if clickCard | default %}card--click{% endif %}" >
  {% if header | default %}
  <div class="card-divider">
    {{ header }}
  </div>
  {% endif %}
  {% if image | default %}
    <div class="card-image">
      <img src="{{ image.src }}" alt="{{ image.alt }}">

      {% if type.handle | default == 'events' and date | default %}
        {% include '@components/inline-text/date.twig' with {
          date: date
        } %}
      {% endif %}
      {% if flag | default %}
        {% include '@components/inline-text/flag.twig' with {
          flag_text: flag
        }%}
      {% endif %}
    </div>
  {% endif %}
  <div class="card-section" {% if equalize | default %}data-equalizer-watch{% endif %}>
    {% if image | default is empty %}
        {% if flag | default %}
          {% include '@components/inline-text/flag.twig' with {
            flag_class: "card_flag"
          }%}
      {% endif %}
    {% endif %}
    <h{{ heading_level }} class="card-title {{ heading.modifier | default }}">{{ heading.text }}</h{{ heading_level }}>
     {% if link | default %}

        {% include '@components/links/read-more.twig' with {
          class: 'h4',
          text: link.text,
          url: link.url,
          target: link.target | default
        } %}
        {% if clickCard | default %}
          <a href="{{ link.url }}" class="card_click">{{ link.text }}</a>
        {% endif %}
    {% endif %}
  </div>
</div>
