<div class="card card--horizontal card--thumb {{ modifier | default }} {% if clickCard | default %}card--click{% endif %}" >
  <div class="card-section">
    <div class="grid-x grid-margin-x align-middle">
      {% if image | default %}
        <div class="cell medium-5 large-4 {% if image.alignment | default and image.alignment == 'right' %}medium-order-2{% endif %}">
          <div class="card-image image-size--square">
            <img {% if lazyload_class | default %}data-lazy="{{ image.src }}" {% else %} data-src="{{ image.src }}" class="js-lazy"{% endif %} alt="{{ image.alt }}">
          </div>
        </div>
      {% endif %}
      <div class="cell {% if image | default %}medium-7 large-8{% endif %} {% if image.alignment  | default and image.alignment == 'right' %}medium-order-1{% endif %}">
        <blockquote class="unstyled-blockquote">
          <p class="lead">{{ quote }}</p>
          {% if attribution | default %}
            <cite>{{ attribution.label }}{% if attribution.info and attribution.name %}, {% endif %}{{ attribution.info }}</cite>
          {% endif %}
        </blockquote>
      </div>
    </div>
  </div>
</div>
