<div class="card card--horizontal {{ modifier }} {% if clickCard | default %}card--click{% endif %}" data-scroll-show>
  <div class="card-section">
    <div class="grid-x grid-margin-x align-middle">
      {% if image | default %}
        <div class="cell medium-5 large-5 {% if image.alignment | default and image.alignment == 'right' %}medium-order-2{% endif %}">
          <div class="card-image image-size--landscapeCroppedMedium">
            <img class="js-lazy" data-src="{{ image.src }}" alt="{{ image.alt }}">
          </div>
        </div>
      {% endif %}
      <div class="cell {% if image | default %}medium-7 large-7 {% if image.alignment  | default and image.alignment == 'right' %}medium-order-1{% endif %}{% endif %}">
       <h{{ heading.level }} class="card-title {{ heading.modifier  | default }}">{{ heading.text }}</h{{ heading.level }}>
        {% if summary | default %}

          <p class="mb-3">{{ summary }}</p>
        {% endif %}
        {% if link | default %}
          {% set link = link | merge({ class: 'h4' })%}
          {% include '@components/links/read-more.twig' with  link %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
