<nav aria-label="Pagination">
  <ul class="pagination text-center mt-3 mt-large-5 mb-0">
    {% if previous | default %}
      <li class="pagination-previous"><a href="{{ previous }}" aria-label="Previous page" class="arrow arrow--prev" ><span class="show-for-sr">Previous page</span></a></li>
    {% endif %}
    {% if pages | default | length %}
      {% for link in pages %}
        <li {% if link.current | default %}class="current"{% endif %}>
          {% if link.ellipses | default %}
            &hellip;
          {% elseif link.current | default %}
            <strong><span class="show-for-sr">Page</span> {{ link.index }}</strong>
          {% else %}
            <a href="{{ link.url }}" aria-label="Page {{ link.index }}"><span class="show-for-sr">Page</span> {{ link.index }}</a>
          {% endif %}
        </li>
      {% endfor %}
    {% endif %}
    {% if next | default %}
      <li class="pagination-next"><a href="{{ next }}" aria-label="Next page" class="arrow arrow--next" ><span class="show-for-sr">Next page</span></a></li>
    {% endif %}
  </ul>
</nav>
