<div class="listing">
  {% for item in list %}
    {% set label = item.label | default ? item.label : item.type.label | default %}
    {% set item_type = item.type | default and item.type.handle ? item.type.handle : '' %}
    <div class="item">
      <div class="grid-x grid-margin-x align-middle">
        {% if item.image | default %}
          <div class="cell medium-5 large-4">
            <div class="wrapper">
              <img data-src="{{ item.image.src }}" alt="{{ item.image.alt }}" class="js-lazy">
              {% if item_type == 'events' %}
                {% include patternlab_namespace | default ~ 'components/inline-text/date.twig' with {
                  date: item.start_date
                } %}
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div class="cell {% if item.image | default %}medium-7 large-8{% endif %}">
          <div class="media-object">
            {% if item.image | default is empty and item_type == 'events' %}
              <div class="media-object-section">
                {% include patternlab_namespace | default ~ 'components/inline-text/date.twig' with {
                  date: item.start_date
                } %}

              </div>
            {% endif %}
            <div class="media-object-section">
              <h2><a href="{{ item.url }}">{{ item.heading }}</a></h2>
              {% if item_type | default != 'events' and item.date.full | default %}<p class="label m-b-2">{{ item.date.full }}</p>{% endif %}
              {% if item.summary | default %}
                <p class="m-b-2">{{ item.summary }}</p>
              {% endif %}
              {% if item.categories | default | length %}
                {% include patternlab_namespace | default ~ 'components/inline-text/meta.twig' with {
                    categories: item.categories,
                    date: null

                } %}

              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
