<div  data-responsive-toggle="responsive-menu" data-hide-for="large" class="hide-for-large top-bar_toggle" >
  {% include patternlab_namespace | default ~ "components/utils/hamburger.twig" with {
    toggle: "responsive-menu"
  } %}
</div>

<div class="top-bar" id="responsive-menu">
  {#
  <div data-responsive-toggle="responsive-menu" data-hide-for="large">
    <button class="top-bar_close hide-for-large" data-toggle="responsive-menu">
      <span class="show-for-sr">Collapse menu</span>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  #}
  <div class="top-bar-left">
    <ul class="vertical large-horizontal menu top" data-responsive-menu="accordion large-dropdown" {% if click | default %}data-click-open="true" data-disable-hover="true"{% endif %}>
      {% for link in menu %}
        <li {% if loop.last %}class="last"{% endif %}>
          <a role="menuitem" href="{{ link.url }}">{{ link.text }}</a>
          {% if link.children | default %}
          <ul class="vertical menu">
            <li class="parent-link"><a  href="{{ link.url }}" class="color-primary">{{ link.text }} Overview</a></li>
            {% for child in link.children %}
              <li>
                <a role="menuitem" href="{{ child.url }}">{{ child.text }}</a>
                {% if child.children | default %}
                <ul class="vertical menu">
                  <li><a href="{{ child.url }}">{{ child.text }} Overview</a></li>
                  {% for grandchild in child.children %}
                    <li>
                      <a role="menuitem" href="{{ grandchild.url }}">{{ grandchild.text }}</a>
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
      <li class="hide-for-large search-wrapper">
        {% include patternlab_namespace | default ~ 'components/forms/simple-form.twig' with {
          input_id: 'keywords_mobile'
        }%}
      </li>

    </ul>

  </div>
</div>
