<style>
  .spacer{
    background: #ccc;
    outline: 1px solid #000;
  }
</style>
{% set types = [
  {
    label: "Margin",
    selector: "m"
  },
  {
    label: "Padding",
    selector: "p"
  }
] %}

{% set directions = [
  {
    label: "Top",
    selector: "t"
  },
  {
    label: "Bottom",
    selector: "b"
  },
  {
    label: "Left",
    selector: "l"
  },
  {
    label: "Right",
    selector: "r"
  },
  {
    label: "Horizontal",
    selector: "x"
  },
  {
    label: "Vertical",
    selector: "y"
  },
  {
    label: "All",
    selector: "a"
  }
] %}
{% for type in types %}
  <h3>{{ type.label }}</h3>
  {% for direction in directions %}
    <h4>{{ type.label }} {{ direction.label }}</h4>
    {% for i in range (i, 10) %}
      <div class="spacer {{ type.selector }}-{{ direction.selector }}-{{ i }}">{{ type.label }} {{ direction.label }} {{ i }}</div>
    {% endfor %}
  {% endfor %}

{% endfor %}
