<style>
  .spacer{
    background: aqua;
    border: 1px solid #000;
  }
</style>
{% set types = [
  {
    label: "Margin",
    selector: "m"
  },
  {
    label: "Padding",
    selector: "p"
  }
] %}

{% set directions = [
  {
    label: "Top",
    selector: "t"
  },
  {
    label: "Bottom",
    selector: "b"
  },
  {
    label: "Left/Start",
    selector: "s"
  },
  {
    label: "Right/End",
    selector: "e"
  },
  {
    label: "Horizontal",
    selector: "x"
  },
  {
    label: "Vertical",
    selector: "y"
  },
  {
    label: "All",
    selector: ""
  }
] %}
{% for type in types %}
  <h3>{{ type.label }}</h3>
  {% for direction in directions %}
    <h4>{{ type.label }} {{ direction.label }}</h4>
    <div style="background-color: orange; overflow: hidden;">
      {% for i in range (0, 8) %}
        <div class="spacer {{ type.selector }}{{ direction.selector }}-{{ i }}">
          <span class="d-block" style="background-color: #ccc">{{ type.label }} {{ direction.label }} {{ i }} (<code>{{ type.selector }}{{ direction.selector }}-{{ i }}</code>)</span>
        </div>
      {% endfor %}
    </div>
    <hr/>
  {% endfor %}

{% endfor %}

{% set other_types = [
  {
    label: 'Auto Horizontal Margin',
    selector: 'm-auto'
  },
  {
    label: '100% Width',
    selector: 'w-100'
  },{
    label: '100% Height',
    selector: 'h-100'
  }
] %}
{% for type in other_types %}

  <div class="spacer {{ type.selector }}" {% if selector == 'm-auto' %}style="width: 100px;"{% endif %}>
    <span class="d-block" style="background-color: #ccc">{{ type.label }} (<code>{{ type.selector }}</code>)</span>
  </div>
{% endfor %}


<div class="grid-x mx-n3 gx-3">
  <div class="cell medium-6">
    <span class="d-block" style="background-color: #ccc; height: 100px;border: 1px solid #000;"></span>
  </div>
  <div class="cell medium-6">
    <span class="d-block" style="background-color: #ccc; height: 100px;border: 1px solid #000;"></span>
  </div>
</div>