{% set color_sections = [
  {
    name: 'bg-colors',
    title: 'Background Colors'
  },
  {
    name: 'text-colors',
    title: 'Text Colors'
  }
] %}

<ul>
  {% for section in color_sections %}
    <li>
      <a href="#{{ section.name }}">{{ section.title }}</a>
    </li>
  {% endfor %}
</ul>
<h3 id="bg-colors">Background Colors</h3>

<style>
.bg-swatch{
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}
</style>

<h4>Solid</h4>
<div class="bg-solid-primary bg-swatch text-white">
  Solid Background (any brand color and variation can be used)
</div>

<div class="bg-light-primary bg-swatch">
  Light Background (any brand color and variation can be used)
</div>

<h4>Gradient</h4>
<div class="bg-gradient--right bg-gradient-primary bg-swatch">
  Gradient Background Horizontal (any brand color and variation can be used)
</div>
<div class="bg-gradient--right bg-gradient-primary bg-gradient--flip bg-swatch">
  Gradient Background Horizontal - Flipped (any brand color and variation can be used)
</div>
<div class="bg-gradient-secondary-lightest bg-gradient--down bg-swatch">
  Gradient Background Vertical (any brand color and variation can be used)
</div>
<div class="bg-gradient-secondary-lightest bg-gradient--down bg-gradient--flip bg-swatch">
  Gradient Background Vertical - Flipped (any brand color and variation can be used)
</div>

<hr>

<h3 id="text-colors">Text Colors</h3>

{% set color_section = [
  {
    class: 'text-primary'
  },
  {
    class: 'text-secondary-darker'
  },
  {
    class: 'text-inherit'
  },
  {
    class: 'text-black'
  },
  {
    class: 'text-gray'
  },
  {
    class: 'text-white',
    container_class: 'bg-solid-black py-2 px-2'
  }
] %}

<p><strong>Any brand color and variation can be used</strong></p>
{% for color in color_section %}
  <div class="{{ color.container_class }}">
    <span class="{{ color.class }}">.{{ color.class }}</span>
  </div>
{% endfor %}
