<div class="card card--horizontal {{ card.modifier }} {% if card.clickCard | default %}card--click{% endif %}" >
  <div class="card-section">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell medium-5 large-4 {% if card.image.alignment | default and card.image.alignment == 'right' %}medium-order-2{% endif %}">
        {% if card.image | default %}
          <div class="card-image">
            <img class="js-lazy" data-src="{{ card.image.src }}" alt="{{ card.image.alt }}">
          </div>
        {% endif %}
      </div>
      <div class="cell medium-7 large-8 {% if card.image.alignment  | default and card.image.alignment == 'right' %}medium-order-1{% endif %}">
        <blockquote class="unstyled-blockquote">
          <p class="lead">{{ card.quote }}</p>
          {% if card.attribution | default %}
            <cite>{{ card.attribution.name }}{% if card.attribution.title %}, {{ card.attribution.title }}{% endif %}</cite>
          {% endif %}
        </blockquote>
      </div>
    </div>
  </div>
</div>
