{% set heading_level = card.heading.level | default ? card.heading.level : 3 %}
<div class="card {{ card.modifier }} {% if card.clickCard %}card--click{% endif %}" >
  {% if card.header | default %}
  <div class="card-divider">
    {{ card.header }}
  </div>
  {% endif %}
  {% if card.image | default %}
    <div class="card-image">
      <img src="{{ card.image.src }}" alt="{{ card.image.alt }}">
      {% if card.type.handle | default == 'event' and card.date | default %}
        {% include 'components/inline/date.twig' with {
          date: card.date
        } %}
      {% endif %}
      {% if card.flag | default %}
        {% include 'components/inline/flag.twig' with {
          flag_text: card.flag
        }%}
      {% endif %}
    </div>
  {% endif %}
  <div class="card-section" {% if equalize | default %}data-equalizer-watch{% endif %}>
    {% if card.image | default is empty %}
        {% if card.flag | default %}
          {% include 'components/inline/flag.twig' with {
            flag_class: "card_flag"
          }%}
      {% endif %}
    {% endif %}
    <h{{ heading_level }} class="card-title {{ card.heading.modifier | default }}">{{ card.heading.text }}</h{{ heading_level }}>
    {% if card.summary | default %}

      <p>{{ card.summary }}</p>
    {% endif %}
    {% if card.link | default %}
      <a href="{{ card.link.url }}" class="button">{{ card.link.text }}</a>
    {% endif %}
  </div>
</div>
