<div class="card card--horizontal {{ card.modifier }} {% if card.clickCard | default %}card--click{% endif %}" >
  <div class="card-section">
    <div class="grid-x grid-margin-x align-middle">
      {% if card.image | default %}
        <div class="cell medium-5 large-5 {% if card.image.alignment | default and card.image.alignment == 'right' %}medium-order-2{% endif %}">
          <div class="card-image">
            <img class="js-lazy" data-src="{{ card.image.src }}" alt="{{ card.image.alt }}">
          </div>
        </div>
      {% endif %}
      <div class="cell {% if card.image | default %}medium-7 large-7 {% if card.image.alignment  | default and card.image.alignment == 'right' %}medium-order-1{% endif %}{% endif %}">
       <h{{ card.heading.level }} class="card-title {{ card.heading.modifier  | default }}">{{ card.heading.text }}</h{{ card.heading.level }}>
        {% if card.summary | default %}

          <p class="m-b-3">{{ card.summary }}</p>
        {% endif %}
        {% if card.link | default %}
          {% set link = card.link | merge({ class: 'h4' })%}
          {% include patternlab_namespace | default ~ 'components/links/read-more.twig' with {
            read_more: link
          }%}
        {% endif %}
      </div>
    </div>
  </div>
</div>
