  <fieldset class="options">
    <legend>{{ label }} {% if required | default %}<span class="form-required">*</span>{% endif %}</legend>
    <ul class="radio-group no-bullet">
      {% for option in options %}
        <li>
          <input class="custom" id="{{ field_id }}_{{ option.id ? option.id : option.value }}" name="{{ field_name }}" value="{{ option.value }}" type="radio" {% if required %}required {% endif %}>
          <label for="{{ field_id }}_{{ option.id ? option.id : option.value }}">{{ option.label }}</label>
        </li>
      {% endfor %}
    </ul>
    {% if required %}
      <span class="form-error">{{ label }} is required</span>
    {% endif %}
  </fieldset>
