<div style="background-color: {{ hex }}" class="pl-swatch bg-{{ color.name | lower }}{% if type %}-{{ type }}{% endif %} {% if color.name | lower == 'white' or type | lower < 500 %}pl-swatch--light{% endif %}" >
  {{ hex }}
  <div class="pl-swatch__hex">{{ color.name }} {% if type %}({{ type }}){% endif %}</div>
</div>
