{% for size in image_sizes %}
  <div class="pl-image bg-gray-200 flex items-center justify-center mb-5 text-center" style="width: {{ size.width }}px; height: {{ size.height }}px;">
    {{ size.name }}: {{ size.width }} x {{ size.height }}
  </div>
{% endfor %}
