{% import '@rain_theme/icons/_icons-macro.twig' as icons %}

<li class="gallery-lightbox-item">
  <a href="{{ media }}" title="{{ media_description }}">
    <img src="{{ media_thumb }}" class="gallery-lightbox-item__media" alt="{{ media_description }}"/>
    <button class="gallery-lightbox-item__expand" aria-label="View full media">{{ icons.get('expand') }}</button>
  </a>
</li>
