  <fieldset class="options">
    <legend>{{ label }} {% if required | default %}<span class="form-required">*</span>{% endif %}</legend>
    <ul class="radio-group list-none">
      {% for option in options %}
        <li>
          <input class="custom" id="{{ id }}_{{ option.id is not empty ? option.id : option.value }}" name="{{ name }}" value="{{ option.value }}" type="radio" {% if required %}required {% endif %}>
          <label for="{{ id }}_{{ option.id is not empty ? option.id : option.value }}">{{ option.label }}</label>
        </li>
      {% endfor %}
    </ul>
    {% if required %}
      <span class="form-error block">{{ label }} is required</span>
    {% endif %}
  </fieldset>
