

  <button class="button{{ color | default ? ' ' ~ color }} {{ size | default ? ' ' ~ size }} {{  class | default  }} {% if hollow | default %}hollow{% endif %}">
    {{ text | default }}
    {% if icon | default %}
      <i class="icon icon--small icon-{{ icon }}"></i>
    {% endif %}
  </button>

