{% set color_sections = [
  {
    name: 'bg-colors',
    title: 'Background Colors'
  },
  {
    name: 'color-colors',
    title: 'Text Colors'
  }
] %}

<ul>
  {% for section in color_sections %}
    <li>
      <a href="#{{ section.name }}">{{ section.title }}</a>
    </li>
  {% endfor %}
</ul>
<h3 id="bg-colors">Background Colors</h3>

<style>
.bg-swatch{
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}
</style>

<h4>Solid</h4>
<div class="bg-primary bg-swatch color-white">
 <code>.bg-[palette]</code> Solid Background (any brand color and variation can be used)
</div>

<div class="bg-light-primary bg-swatch">
  <code>.bg-light-[palette]</code>Light Background (any brand color and variation can be used)
</div>

<h4>Gradient</h4>
<p>All of the following can be used with any palette that has gradient: true in `src/stories/global/base/colors.json`</p>
{% set gradients = [
  {
    class: 'bg-gradient-primary',
    name: 'Gradient Background', 
    example: 'bg-gradient-[palette]'
  },
  {
    class: 'bg-gradient-primary bg-gradient--flip',
    name: 'Gradient Background Flipped', 
    example: 'bg-gradient--flip'
  },
  {
    class: 'bg-gradient-light-primary',
    name: 'Gradient Background Light', 
    example: 'bg-gradient-light-[palette]'
  },
  {
    class: 'bg-gradient-primary bg-secondary',
    name: 'Gradient Background Blended into another palette color', 
    example: 'bg-gradient-[palette] bg-[background]'
  },
  {
    class: 'bg-gradient-primary bg-secondary bg-gradient--flip',
    name: 'Gradient Background Blended into another palette color - flipped', 
    example: 'bg-gradient-[palette] bg-[background] bg-gradient--flip'
  },
  {
    class: 'bg-gradient-primary bg-secondary bg-gradient--down ',
    name: 'Gradient Background Downward', 
    example: 'bg-gradient--down '
  },{
    class: 'bg-gradient-primary bg-secondary bg-gradient--down bg-gradient--flip',
    name: 'Gradient Background Upward', 
    example: 'bg-gradient--flip bg-gradient--down'
  },{
    class: 'bg-gradient-primary',
    background_image: {
      src: 'https://via.placeholder.com/150',
      alt: 'placeholder image'
    },
    name: 'Gradient Background with an image', 
    example: 'bg-gradient-primary'
  }
] %}

{% for gradient in gradients %}
  <div class="{{ gradient.class }} bg-swatch" {% if gradient.background_image %}
    style="background-image: url('{{ gradient.background_image.src }}')"
  {% endif %}
  >
    <span><code>.{{ gradient.example }}</code> {{ gradient.name }}</span>    
  </div>
{% endfor %}

<hr>

<h3 id="text-colors">Text Colors</h3>

{% set color_section = [
  {
    class: 'color-primary'
  },
  {
    class: 'color-secondary-darker'
  },
  {
    class: 'color-inherit'
  },
  {
    class: 'color-black'
  },
  {
    class: 'color-gray'
  },
  {
    class: 'color-white',
    container_class: 'bg-black py-2 px-2'
  },
  {}
] %}

<p><strong>Any brand color and variation can be used</strong></p>
{% for color in color_section %}
  <div class="{{ color.container_class }}">
    <span class="{{ color.class }}">.{{ color.class }}</span>
  </div>
{% endfor %}
