{% set notch = item.icon | default or modifier | default == 'steps' %}
<li class="accordion-item shadow {{ loop.last ? 'mb-0' : 'mb-3' }}  {# if accordion_instance == "1" %}is-active{% endif #}" data-accordion-item>
  <button tabindex="0" class="accordion-title py-2 position-relative pr-6 large-pr-8 fs-3 {% if notch %}accordion-title--notch pl-5 large-pl-8 d-flex position-relative{% else %}pl-3 large-pl-4{% endif %}" aria-controls="accordion-{{ accordion_id | default }}-{{ loop.index }}" id="accordion-toggle-{{ accordion_id | default }}-{{ loop.index }}">
    {% if notch %}
      <span class="accordion-notch position-absolute left-3 top-0 h-100 color-primary fw-bold d-inline-flex align-items-center justify-end w-4 {{ item.icon | default }}">{% if modifier | default == 'steps' %}{{ loop.index }}{% endif %}</span>
    {% endif %}
    {{ item.heading }}
    <span class="accordion-title-icon mr-3">
      <span class="icon-chevron-down"></span>
    </span>
  </button>
  <div class="accordion-content px-3 large-px-4 pt-2 pb-3 large-pb-4" data-tab-content id="accordion-{{ accordion_id | default }}-{{ loop.index }}" aria-hidden="true" aria-labelledby="accordion-{{ accordion_id | default }}-{{ loop.index }}">
    {{ item.content | raw }}
  </div>
</li>
