<form action="{{ action | default('/search') }}">
  <div class="input-group simple">
    <label for="{{ input_id | default('keywords') }}" class="sr-only">Keywords</label>
    <input class="input-group-field" placeholder="Search" type="search" id="{{ input_id | default('keywords') }}" name="{{ name | default('q') }}">
    <div class="input-group-button">
      <button type="submit"  value="Submit">
        <span class="sr-only">{{ button_text | default('Search') }}</span>
        <span class="icon-search"></span>
      </button>
    </div>
  </div>
</form>
