<div class="card card--horizontal card--thumb {{ modifier | default }} {% if clickCard | default %}card--click{% endif %}" >
  <div class="card-section">
    <div class="grid grid-cols-12 gap-3 items-center">
      {% if image | default %}
        <div class=" md:col-span-5 lg:col-span-4 {% if image.alignment | default and image.alignment == 'right' %}md:order-2{% endif %}">
          <div class="card-image image-size--square">
            <img {% if lazyload_class | default %}data-lazy="{{ image.src }}" {% else %} loading="lazy" src="{{ image.src }}" class=""{% endif %} alt="{{ image.alt }}">
          </div>
        </div>
      {% endif %}
      <div class=" {% if image | default %}md:col-span-7 lg:col-span-8{% endif %} {% if image.alignment  | default and image.alignment == 'right' %}md:order-1{% endif %}">
        <blockquote class="unstyled-blockquote">
          <p class="lead">{{ quote }}</p>
          {% if attribution | default %}
            <cite>{{ attribution.label }}{% if attribution.info and attribution.label %}, {% endif %}{{ attribution.info }}</cite>
          {% endif %}
        </blockquote>
      </div>
    </div>
  </div>
</div>
