
<div class="card bg-{{ background_color | default('white')}} shadow {{ class | default }} {{ modifier | default ? 'card--' ~ modifier : '' }} {% if clickCard | default %}card--click{% endif %}" >
  {% if header | default %}
  <div class="card-divider">
    {{ header }}
  </div>
  {% endif %}
  {% if image | default %}
    <div class="card-image w-100 position-relative">
      <img data-src="{{ image.src }}" alt="{{ image.alt }}" class="w-100 js-lazy">

      {% if type.handle | default == 'events' and date | default %}
        {% include '@components/inline-text/date/date.twig' with date | merge({
          class: 'position-absolute top-0 left-0 z-2'
        }) %}
      {% endif %}
      {% if flag | default %}
        {% include '@components/inline-text/flag/flag.twig' with {
          class: 'position-absolute top-0 right-0 z-2',
          flag_text: flag
        }%}
      {% endif %}
    </div>
  {% endif %}
  <div class="card-section px-3 large-px-4 pt-4 pb-4 large-pb-5" {% if equalize | default %}data-equalizer-watch{% endif %}>
    {% if image | default is empty %}
        {% if flag | default %}
          {% include '@components/inline-text/flag/flag.twig' with {
            flag_class: "card_flag"
          }%}
      {% endif %}
    {% endif %}
    {% include '@components/teasers/card/_card-content.twig' %}
    {% if footer | default %}
      <div class="card-footer">
        {{ footer }}
      </div>
    {% endif %}
  </div>
</div>
