<div class="card card--horizontal bg-white shadow-md {{ modifier | default }} {% if clickCard | default %}card--click{% endif %}" >
  <div class="card_section p-8">
    <div class="grid grid-cols-12 gap-6 gap-x-5 lg:gap-x-8 items-center">
      {% if image | default %}
        <div class="col-span-12 md:col-span-5 lg:col-span-4 {% if image.alignment | default and image.alignment == 'right' %}md:order-2{% endif %}">
          <div class="card_image image-size--square">
            <img {% if lazyload_attr | default %}{{ lazyload_attr }}="{{ image.src }}"{% else %}src="{{ image.src }}" loading="lazy"{% endif %}  alt="{{ image.alt }}" class="w-full ">
          </div>
        </div>
      {% endif %}
      <div class="col-span-12 {% if image | default %}md:col-span-7 lg:col-span-8{% endif %} {% if image.alignment  | default and image.alignment == 'right' %}md:order-1{% endif %}">
        <blockquote class="border-0 pl-0">
          <p class="lead">{{ quote }}</p>
          {% if attribution | default %}
            <cite>{{ attribution.label }}{% if attribution.info and attribution.label %}, {% endif %}{{ attribution.info }}</cite>
          {% endif %}
        </blockquote>
      </div>
    </div>
  </div>
</div>
