<div>
  {% for item in list %}
    {% set label = item.label | default ? item.label : item.type.label | default %}
    {% set item_type = item.type | default and item.type.handle ? item.type.handle : '' %}
    <div class="item py-5">
      <div class="grid grid-cols-12 gap-6 {% if item.start_date | default is empty %}items-center{% endif %} gap-y-3">
        {% if item.image | default %}
          <div class="md:col-span-5 lg:col-span-3 md:order-2">
            <div class="wrapper image-size--landscapeCroppedMedium">
              <img loading="lazy" src="{{ item.image.src }}" alt="{{ item.image.alt }}" class="">
            </div>
          </div>
        {% endif %}
        <div class="col-span-12 {% if item.image | default %}md:col-span-7 lg:col-span-9 md:order-1{% endif %}">
          <div class="flex gap-x-3 align-items-start">

            {% if item.start_date | default is not empty %}
              
              {% include '@components/inline-text/date/date.twig' with item.start_date %}

            
            {% endif %}

            <div>
              <h2><a href="{{ item.url }}">{{ item.heading }}</a></h2>
              {% if item_type | default != 'events' and item.date.full | default %}
                {% include '@components/inline-text/meta/meta.twig' with {
                  date: item.date,
                  meta_class: 'mb-2'
                } %}
              {% endif %}
              {% if item.summary | default %}
                <p class="{% if item.categories | default | length %}mb-2{% else %}mb-0{% endif %}">{{ item.summary }}</p>
              {% endif %}
              {% if item.categories | default | length %}
                {% include '@components/inline-text/meta/meta.twig' with {
                    meta_class: 'mb-0',
                    categories: item.categories,
                    date: null

                } %}

              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
    <hr class="my-0">
  {% endfor %}
</div>
