{% if map.address %}
  <section class="map map--2col">
    <div class="map__wrapper">
      <div class="map__embed">
        {{ map.map_embed }}
      </div>
    </div>
    <div class="map__text">
      <h2 class="map__location">{{ map.address.location }}</h2>
      <p class="map__address">
        {{ map.address.street}} 
        <br>
        {{ map.address.city_state}}
      </p>
    </div>
  </section>
{% else %}
  <section class="map map--full">
    <div class="map__embed">
      {{ map.map_embed }}
    </div>
  </section>
{% endif %}