{% if link.value | default and link.url is not defined %}
  {% set link = link | merge({
    url: link.value,
    text: link.customText
  }) %}
{% endif %}
<a href="{{ link.url }}" {% if link.targetString | default %}target="{{ link.targetString }}"{% endif %} class="{{ modifier | default }} {{ link.modifier | default }}">{{ link.text }}</a>
