{% set fonts = [
  {
    label: "Primary",
    fontFamily: primaryFontFamily
  },
  {
    label: "Secondary",
    fontFamily: secondaryFontFamily
  }
] %}
{% for font in fonts %}
  <div style='font-family: {{ font.fontFamily }}'>
    <p>{{ font.label }} font: {{ font.fontFamily }};<br />
    <em>{{ font.label }} font italic: {{ font.fontFamily }}</em><br />
    <strong>{{ font.label }} font bold: {{ font.fontFamily }};</strong></p>
  </div>
{% endfor %}
